@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

$background-color: #1b1523;
$text-color: #fff;
$button-background: #c23866;
$button-text-color: #fff;
$button-border-color: #fff;
$card-border-color: #fff;

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: $background-color;
  color: $text-color;
}
